<?xml version="1.0"?>
<launch>
  <arg name="manager_name"	default="nodelet_manager"/>
  <arg name="manager_threads"	default="2"/>

  <node name="$(arg manager_name)"
	pkg ="nodelet" type="nodelet" args="manager" output="screen">
    <param name="num_worker_threads"	value="$(arg manager_threads)"/>
  </node>

  <node name="iidc_camera_loader"
  	pkg ="nodelet" type="nodelet"
  	args="load iidc_camera/iidc_camera_nodelet $(arg manager_name)">
    <remap from="image"	to="/$(arg manager_name)/camera0/image"/>>
  </node>

  <node name="image_view_loader"
  	pkg ="nodelet" type="nodelet"
  	args="load image_view/image $(arg manager_name)">
    <remap from="image"	to="/$(arg manager_name)/camera0/image"/>>
  </node>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
