<launch>
  <arg name="camera_name"	default="V4L2Camera"/>

  <node name="$(arg camera_name)"
  	pkg="v4l2_camera" type="v4l2_camera" output="screen">
  </node>

  <node name="image_view0"
	pkg = "image_view" type="image_view" output="screen">
    <remap from="/image"	to="/$(arg camera_name)/camera0/image"/>>
  </node>
  <node name="image_view1"
	pkg = "image_view" type="image_view" output="screen">
    <remap from="/image"	to="/$(arg camera_name)/camera1/image"/>>
  </node>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
